.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #3c3c3c;
    background-image: url('https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQxOS1taW50eS0wMi1sZWFmXzEuanBn.jpg');
    height: 100vh;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    background-color: transparent;
    margin-top:2rem;
    border: none;
    margin-bottom: 30px;

    
}

.bd-example-row [class^="col"], .bd-example-cssgrid .grid>* {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: transparent;
    border: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #6c757d !important; 
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#ffffff;
    height: 1px;
  }

/* .card .card-header {
background-color: transparent;
border-bottom: none;
padding: 25px 20px
} */

/* .card .card-header+.card-block,
.card .card-header+.card-block-big {
padding-top: 0
} */


.m-b-20 {
    margin-bottom: 20px
}

.card-sub {
    cursor: move;
    border: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05)
}

/* .card-block {
    padding: 1.25rem;
    float:initial
} */



/* Primary Styles */



h1 {
font-size: 1.4em;
}

em {
font-style: normal;
}

a {
text-decoration: none;
color: inherit;
} 

#sm-card{
    margin-top: 0;
    margin-bottom: 0;
}


/* Layout */
/* .s-layout {
display: flex;
width: 100%;
min-height: 100vh;
} */

/* .s-layout__content {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
} */

/* Sidebar */
/* .s-sidebar__trigger {
z-index: 2;
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 64px;
background: #192b3c;
} */

/* .s-sidebar__trigger > i {
display: inline-block;
margin: 1.5em 0 0 1.5em;
color: #f07ab0;
} */

/* .s-sidebar__nav {
position: fixed;
top: 0;
right: -15em;
overflow: hidden;
transition: all .3s ease-in;
width: 15em;
height: 100%;
background: #243e56;
color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
right: 0;
}

/*Posición navegador lateral*/
/* .s-sidebar__nav ul {
position: absolute;
top: 4em;
right: 0;
margin: 0;
padding: 0;
width: 15em;
}

.s-sidebar__nav ul li {
width: 100%;
}

.s-sidebar__nav-link {
position: relative;
display: inline-block;
width: 100%;
height: 4em;
}

.s-sidebar__nav-link em {
position: absolute;
top: 50%;
right: 4em;
transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
background: #4d6276;
}

.s-sidebar__nav-link > i {
position: absolute;
top: 0;
right: 0;
display: inline-block;
width: 4em;
height: 4em;
}

.s-sidebar__nav-link > i::before {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.s-layout__content {
margin-right: 4em;
}

/* Sidebar */
/* .s-sidebar__trigger {
width: 4em;
}

.s-sidebar__nav {

right: 0;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:hover + .s-sidebar__nav,
.s-sidebar__trigger:focus + .s-sidebar__nav {
width: 15em;
} */

/* .filler {
position: absolute;
top: 0;
left: 0;
background-color: #192b3c;
height: 64px;
width: 100%;
} */